<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--    Bootstrap CSS CDN - link the CSS and mark the relationship as stylesheet-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
  <!--    Link own, custom css-->
  <link rel="stylesheet" type="text/css"
        href="../../static/css/googleapifonts.css" th:href = "@{/css/googleapifonts.css}"/>
  <link rel="stylesheet" href="../../static/css/style.css" th:href = "@{/css/style.css}"/>

  <!--    Get nicer fonts-->
  <script defer src="../../static/js/solid.js" th:src="@{/js/solid.js}" ></script>
  <script defer src="../../static/js/fontawesome.js" th:src="@{/js/fontawesome.js}"></script>

</head>
<body>
<div class="wrapper container-fluid px-0 no-gutters">
  <!-- Sidebar  -->
  <div th:replace="fragments/side_menu::side-menu"> </div>
  <!-- Page Content   -->
  <div class="col no-gutters">
    <!--  Header title, collapse button..- set to full width and a bottom margin-->
    <div th:replace="fragments/report_header::colapse-btn"> </div>
    <div th:replace="fragments/report_header::report-title">  </div>

    <!--    calendar content -->
    <div class="row ml-1 mx-0">
      <div class="col px-0">
        <!--            WEEKDAYS-->
        <div class="row no-gutters mb-2 days-row">
          <div class="col-0-5">
            <!-- placeholder column matching the CW column below-->
          </div>
          <div class="col">
            <div class="card mb-1 calendar-cell bg-info text-white">
              <!-- date-->
              <h5 class="card-header lead text-center font-weight-bold">Monday</h5>
            </div>
          </div>
          <div class="col">
            <div class="card mb-1 bg-info text-white calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center font-weight-bold">Tuesday</h5>
            </div>
          </div>
          <div class="col">
            <div class="card mb-1 bg-info text-white calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center font-weight-bold">Wednesday</h5>
            </div>
          </div>
          <div class="col">
            <div class="card mb-1 bg-info text-white calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center font-weight-bold">Thursday</h5>
            </div>
          </div>
          <div class="col">
            <div class="card mb-1 bg-info text-white calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center font-weight-bold">Friday</h5>
            </div>
          </div>
          <div class="col">
            <div class="card mb-1 bg-info text-white calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center font-weight-bold">Saturday</h5>
            </div>
          </div>
          <div class="col">
            <div class="card mb-1 bg-info text-white calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center font-weight-bold">Sunday</h5>
            </div>
          </div>
        </div>
        <!--            Calendar content-->
        <div class = "row no-gutters mb-1">
          <!--  Calendar week with week summary-->
          <div class="col-0-5">
            <div class="card mb-1 lead text-center bg-info text-white h-100">
              <div class="card-body">
                <span class="align-middle font-weight-bold border-bottom d-block"> CW-1 </span>
                <span class="align-middle"> Total: </span>
                <span class="align-middle"> 40 </span>
              </div>
            </div>
          </div>
          <!--    calendar cell template-->
          <!--              MONDAY-->
          <div class="col">
            <div class="card calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center bg-secondary text-white">11.11.2021</h5>
              <div class="card-body card-text">
                <!-- Activities and hours count-->
                <div class="row bg-light card-t1">
                  <div class="col ">ACT:</div>
                  <div class="col"></div>
                  <div class="col">HRS:</div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    2
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    8
                  </div>
                </div>
                <!-- coming and going rows-->
                <div class="row bg-light card-t1-vals">
                  <div class="col">
                    COMING
                  </div>
                  <div class="col">
                    GOING
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    9:00
                  </div>
                  <div class="col">
                    17:30
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--              TUESDAY-->
          <div class="col">
            <div class="card calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center bg-secondary text-white">11.11.2021</h5>
              <div class="card-body card-text">
                <!-- Activities and hours count-->
                <div class="row bg-light card-t1">
                  <div class="col">
                    ACT:
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    HRS:
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    2
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col bg-primary text-white">
                    9
                  </div>
                </div>
                <!-- coming and going rows-->
                <div class="row bg-light card-t1-vals">
                  <div class="col">
                    COMING
                  </div>
                  <div class="col">
                    GOING
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    9:00
                  </div>
                  <div class="col">
                    17:30
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--              WEDNESDAY-->
          <div class="col">
            <div class="card mb-1 calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center bg-secondary text-white">11.11.2021</h5>
              <div class="card-body card-text">
                <!-- Activities and hours count-->
                <div class="row bg-light card-t1">
                  <div class="col">
                    ACT:
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    HRS:
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    2
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    8
                  </div>
                </div>
                <!-- coming and going rows-->
                <div class="row bg-light card-t1-vals">
                  <div class="col">
                    COMING
                  </div>
                  <div class="col">
                    GOING
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    9:00
                  </div>
                  <div class="col">
                    17:30
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--              THURSDAY-->
          <div class="col">
            <div class="card mb-1 calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center bg-secondary text-white">11.11.2021</h5>
              <div class="card-body card-text">
                <!-- Activities and hours count-->
                <div class="row bg-light card-t1">
                  <div class="col">
                    ACT:
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    HRS:
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    2
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col bg-warning text-dark">
                    7
                  </div>
                </div>
                <!-- coming and going rows-->
                <div class="row bg-light card-t1-vals">
                  <div class="col">
                    COMING
                  </div>
                  <div class="col">
                    GOING
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    9:00
                  </div>
                  <div class="col">
                    17:30
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--              FRIDAY-->
          <div class="col">
            <div class="card mb-1 calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center bg-secondary text-white">11.11.2021</h5>
              <div class="card-body card-text">
                <!-- Activities and hours count-->
                <div class="row bg-light card-t1">
                  <div class="col">
                    ACT:
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    HRS:
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    2
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    8
                  </div>
                </div>
                <!-- coming and going rows-->
                <div class="row bg-light card-t1-vals">
                  <div class="col">
                    COMING
                  </div>
                  <div class="col">
                    GOING
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    9:00
                  </div>
                  <div class="col">
                    17:30
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--              SATURDAY-->
          <div class="col">
            <div class="card mb-1 calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center bg-secondary text-white">11.11.2021</h5>
              <div class="card-body card-text">
                <!-- Activities and hours count-->
                <div class="row bg-light card-t1">
                  <div class="col">
                    ACT:
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    HRS:
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    -
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    -
                  </div>
                </div>
                <!-- coming and going rows-->
                <div class="row bg-light card-t1-vals">
                  <div class="col">
                    COMING
                  </div>
                  <div class="col">
                    GOING
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    -
                  </div>
                  <div class="col">
                    -
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--              SUNDAY-->
          <div class="col">
            <div class="card calendar-cell">
              <!-- date-->
              <h5 class="card-header lead text-center bg-secondary text-white">11.11.2021</h5>
              <div class="card-body card-text">
                <!-- Activities and hours count-->
                <div class="row bg-light card-t1">
                  <div class="col">
                    ACT:
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    HRS:
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    -
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col ">
                    -
                  </div>
                </div>
                <!-- coming and going rows-->
                <div class="row bg-light card-t1-vals">
                  <div class="col">
                    COMING
                  </div>
                  <div class="col">
                    GOING
                  </div>
                </div>
                <div class="row card-t1-vals text-center">
                  <div class="col">
                    -
                  </div>
                  <div class="col">
                    -
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 px-0">
        <div class="card h-100">
          <div id = "monthly-overview" class="card-header text-center bg-info text-white font-weight-bold lead">
            Monthly Overview
          </div>
          <div class="card-body">
            <div class="row">
              Hours:
            </div>
            <div class="row">
              Activities:
            </div>
            <div class="row">
              Overtime:
            </div>
            <div class="row">
              Projects:
            </div>
            <div class="row">
              Issues:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"
          th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
          integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"
          th:src=" @{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
          integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"
          th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}">
  </script>

  <script src="../../static/js/colapsible_nav.js" th:src="@{/js/colapsible_nav.js}"></script>


</body>
</html>